*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    flex-direction: column;
    background-color: rgb(201, 0, 0);
    color: #fff;
    /* padding-top: 1em; */
    margin-bottom:1em;
}

.headerContent{
    margin-left: 3em;
    padding-bottom: 1em;
}

header button{
    background-color: transparent;
    text-decoration: none;
    color: #fff;
    border: 2px solid white;
}

.centralize{
    padding-top: 6em;
    background-color: rgb(197, 191, 191);
}

.sentence{
    position: absolute;
    top: 5%;
    left: 30vw;
    font-size: 1.2em;
}

.container{
    position: relative;
    margin: auto;
}

span>*{
    margin-top : 0;
    margin-bottom: 0;
    width: 100%;
}

#first,
#second{
    background-color: white;
    color: black;
    height: 2em;
    font-weight: bold;
    text-align: center;
}

#second{
    margin-left: 2em;
}